$font-name: 'Onest';
$font-url: 'https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap';

$w-large: 1200px;
$w-medium: 768px;
$w-smaill: 576px;

$main-color: #c9d6e8;
$secondary-color: #ecf4ff;
$text-color: #213d62